html
{
  overflow: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;
}
::-webkit-scrollbar
{
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

body
{
  padding: 0px;
  margin: 0px;
  font-family: "Open Sans", sans-serif;
  color: white;
  background-color: rgb(70, 74, 104);
  height: 100%;
  width: 100%;
  background:url(../img/vesper.webp) no-repeat center fixed;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

h1
{
  font-size: 2.5em;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

label, h2
{
  text-align: center;
  color: white;
  font-size: 2.5em;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  font-weight: 100;
}

select, button, input
{
  font-size: 1.5em;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  background-color: rgba(14,14,14,0.70);
  outline: medium;
  outline-color: white;
  color: white;
}
w
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.output
{
  font-size: 1.5em;
}

img
{
  padding: 15px;
}

/* remove underline in links in heading */
.heading a:link
{
  color: inherit;
  text-decoration: none;
}
.heading a:visited
{
  color: inherit;
  text-decoration: none;
}
.heading a:hover
{
  color: inherit;
  text-decoration: none;
}
.heading a:active
{
  color: inherit;
  text-decoration: none;
}

.content
{
  padding-top: 10em;
  text-align: center;
  position: static;
}
.heading
{
  position: fixed;
  top: 0;
  width: 100VW;
  padding: 0px;
  margin: 0px;
  background-color: rgba(14,14,14,0.80);
  border-bottom: 0.125em solid white;
}